### Directories
build/

### JabRef Backups & Autosavings
*.bak
*.sav

### General Latex
*.tmp
*.toc
*.run.xml
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.fmt
*.xdy
*.akronym-glg
*.akronym-glo
*.akronym-gls
*.lot
*.acn
*.acr
*.alg
*.glsdefs
*.greek_symbols-glg
*.greek_symbols-glo
*.greek_symbols-gls
*.indices-glg
*.indices-glo
*.indices-gls
*.ist
*.latin_symbols-glg
*.latin_symbols-glo
*.latin_symbols-gls
*.mw
*.slg
*.slo
*.sls
*.out
*.tdo
*.nlo
*.toc
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
**/tikz/*.pdf

### Specific
dissertation.pdf
thesis.pdf

### Windows
Thumbs.db
